body, html {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Muli','Roboto',sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: #1F271B;
}

h1 {
    font-size: 48px;
    margin: 0 auto;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

a {
    text-decoration: none;
}

#splashAll {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #8F8F8F;
}

#splashAd {
    font-family: "Lobster", "Muli", "Roboto", sans-serif;
    font-size: 20px;
    color: white;
    margin: auto 0;
}

#logo, .sparkles {
    height: 40px;
    margin-top: 3px;
}

#splashContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    width: 70%;
    margin: 50px auto;
}

#banner {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

#where, #when {
    width: 40%;
}

#splashInnerDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#who {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.container {
    background-color: white;
    width: calc(100% - 2*50px);
    padding: 50px;
    margin: 0;
}

.alternate {
    background-color: #EEEEEE;
}

.accentdivider {
    background-color: #0C1FDD;
    width: 40px;
    height: 5px;
    margin: 25px auto;
}

#guide {
    text-align: center;
}

#guideContainer {
    text-align: left;
    width: max-content;
    margin: 0 auto;
}

#copyright {
    padding: 20px;
    margin: 0;
    border-top: 1px solid black;
}